html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.page-wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
    background: linear-gradient(to bottom, #000 25%, #5c0000 90%);
}
header{
    background: linear-gradient(to bottom, #5c0000 25%, #000 90%);
}
.header-wrapper{
    padding: 30px 30px;
}
.header-wrapper h1{
    background: linear-gradient(to bottom, #ece405 25%, #6777 95%);
    background-clip: text;
    color: transparent;
}
.header-wrapper p{
    color: #f8fc02;
}
main {
    display: flex;
    background: linear-gradient(to bottom, #000 25%, #5c0000 90%); 
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main-wrapper{
    display: flex;
    padding: 20px 20px;
    justify-content: center;
    align-items: center;
}
.main-wrapper img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid #a0d003;
}
footer {
    background: linear-gradient(to bottom, #5c0000 25%, #000 95%);
    color: white;
}
.table-wrapper{
    padding: 12px 12px;
}
.items-table{
    width: 100%;
    margin: 0;
    font-size: 0.8em;
    text-align: left;
    position: relative;
    background-color: transparent;
}
.items-table thead{
    font-size: 0.9rem;
}
.items-table th, .items-table td{
    border: 2px solid #530404;
    border-radius: 40px;
    padding: 8px;
}