/* Key Frames */
@keyframes textBrighten {
    100%{
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
        color: rgb(255,255,255);
    }
}
@keyframes pulseZoom {
    from { transform: scale(1); }
    to { transform: scale(1.1); }
}
/* Fonts */
@font-face {
    font-family: 'Grandiflora-One';
    src: url(../fonts/GrandifloraOne-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Nanum-Gothic';
    src: url('../fonts/NanumGothic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html{
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    height: auto;
    height: 100vh;
    overflow-x: hidden;
    justify-content: center;
}
video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
/* Video */
.videoI{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    object-fit: cover;
    min-height: 100%;
    filter: blur(2px)
}
.background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    object-fit: cover;
    min-height: 100%;
    filter: blur(0.9rem)
}
/* Container */
.container{
    /*padding: 48px 48px;*/
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.container-banner{
    padding: 12px;
}
.container-buttons{
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    gap: 0.75rem;
}
.container-buttons button{
    width: 100%;
    max-width: 300px;
    min-width: 250px;
    font-size: clamp(0.8rem, 2vw, 1.5rem);
    height: auto;
    padding: 8px 8px;
    border: 1px solid #adad0c;
    background: transparent;
    color: #060000;
    text-align: center;
}
.container-buttons button:hover{
    animation:
    textBrighten 0.3 forwards,
    pulseZoom 0.8s infinite alternate;
}
.container-buttons button span{
    font-family: 'Grandiflora-One';
    background-image: linear-gradient(to bottom , #f3ebeb 30%, #c6baba 90%);
    background-clip: text;
    color: transparent;
}
/*Hero Section*/
.hero-section{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.hero-section h1{
    font-family: 'Nanum-Gothic';
    background-image: linear-gradient(to bottom , #060000 30%, #e1e106 90%);
    background-clip: text;
    color: transparent;
}
.hero-container{
    padding: 10px;
}
/*Footer*/
.footer{
    padding: 18px;
}
.footer-wrapper{
    font-size: 10px;
    color: #fff;
    text-align: center;
    padding-top: 2px;
    text-transform: lowercase;
    font-family: Arial, Helvetica, sans-serif;
}
.social-media-container{
    margin: 1rem 0rem;
}
.social-media-img{
    height: 1.2rem;
    width: 1.2rem;
    margin: 0px 2px;
}
a{
    text-decoration: none;;
}
.background-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
}
.background-container::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
    backdrop-filter: contrast(1.1)
    blur(0.15rem);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 15px;
}
