/* Importing Google font - Open Sans */
@font-face {
    font-family: 'Grandiflora-One';
    src: url(../fonts/GrandifloraOne-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Grandiflora-One", sans-serif;
}
body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom , #060000 30%, #e1e106 90%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/*Background*/
.background-container{
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-size: cover;
  background-position: center;
}
.background-container::after{
  content: "";
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 0;
  backdrop-filter: contrast(1.1);
}
/*Video | Image*/
.background-container img{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    object-fit: cover;
    min-height: 100%;
    filter: blur(2px)
}
nav {
  background: transparent;
  border: 1px solid #e9e1e1;
  border-radius: 20px;
  box-shadow: 20px 5px 25px rgba(219, 219, 7, 0.8);
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 60px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}
nav a:hover{
  background-color: gold;
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(15px);
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
nav img{
  width: 40px;
}
.menu-button{
  display: none;
}
/*Hero Section*/
.hero {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  gap:20px
}
.team-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap:20px;
  width: 300px;
  height: 300px;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 5px;
}
.team-member{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.team-member:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0,2);
}
.large-image-container{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.large-image{
  display: none;
  max-width: 80%;
  max-height: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
}
@media (max-width: 600px){
  .hero{
    flex-direction: column;
  }
  .team-grid{
    width: 100%;
    height: auto;
  }
  .large-image-container{
    width: 100%;
  }
}
@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}

